body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-self: center;
    justify-content: space-between;
    height: 50px;
    width: 80%;
    align-items: center;
    background-color: #1F2937;
    color: #F9FaF8;
}

.header ul {
    display:flex;
    list-style: none;
    gap: 16px;
    margin: 0;
}

.top1 {
    align-self: center;
    display: flex;
    gap: 100px;
    background-color: #1F2937;
    color: #F9FaF8;
    height: 250px;
    width: 80%;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sitedesc {
    align-self: center;
}

.image1 img {
    height: 250px;
    width: auto;
}